/*
 * jQuery Nivo Slider v3.1
 * http://nivo.dev7studios.com
 *
 * Copyright 2012, Dev7studios
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
*/


/* The Nivo Slider styles */
.nivoSlider{
    position: relative;  
    margin: 0 auto;
    height: auto;
    z-index: 100;
    /*    overflow: hidden;*/
    margin-bottom: 30px;
    float: left;
    background: url('../img/slider-loading.gif') no-repeat center;
}

.nivoSlider.home-slider,
.nivoSlider img,
.nivo-main-image{
    width: 1000px;
}
.nivoSlider img{
    position:absolute;
    top:0px;
    left:0px;
    max-width: none !important;
    display: none;
}

.nivo-main-image{
    display: block !important;
    position: relative !important; 
}

.grid_8.blog-posts .nivoSlider{
    width: 620px;
}

.grid_8 .nivoSlider,
.grid_8 .nivoSlider img,
.grid_8 .nivo-main-image{
    width: 620px;
    height: auto;
}
.grid_8.blog-posts .nivoSlider img,
.grid_8.blog-posts .nivo-main-image{
    width: 620px;
    height: 275px;   
}

/* SLIDER IN ONE THRID COLUMN */
.grid_4.nivoSlider, .grid_4 .nivoSlider,
.grid_4.nivoSlider img, .grid_4 .nivoSlider img,
.grid_4 .nivo-main-image{
    width: 300px;
    height: auto;
}

/* SLIDER IN ONE HALF COLUMNS */
.grid_6.nivoSlider, .grid_6 .nivoSlider,
.grid_6.nivoSlider img, .grid_6 .nivoSlider img,
.grid_6 .nivo-main-image{
    width: 460px;
    height: auto;
}

.alpha.nivoSlider{
    margin-left: 0;
    margin-right: 10px;
}

.omega.nivoSlider{
    margin-right: 0;
    margin-left: 10px;
}

.slider-wrapper div[id^="htmlcaption"]{
    display: none;
}


/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    border:0;
    padding:0;
    margin:0;
    z-index:6;
    display:none;
}
/* The slices and boxes in the Slider */
.nivo-slice {
    display:block;
    position:absolute;
    z-index:5;
    height:100%;
    top:0;
}
.nivo-box {
    display:block;
    position:absolute;
    z-index:5;
    overflow:hidden;
}
.nivo-box img { display:block; }

/* Caption styles */
.nivo-caption {
    position:relative;
    left:0px;
    bottom:0px;
    background:#333;
    color:#fff;
    width:900px;
    margin-left: 100px;
    z-index:8;
    padding: 13px 20px 14px;
    overflow: hidden;
    display: none;
    text-align: center;

    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

.nivo-caption h1{
    margin-bottom: 0;
    font: 22px 'Open Sans', Arial, sans-serif;
    font-weight: 400;
    color: #fff;
}

.nivo-caption span{
    font: 22px 'Open Sans', Arial, sans-serif;
    font-weight: 200;
    color: #aaa;
}

.nivo-caption-title{
    font: 16px Arial, sans-serif;
    color: #666;
}

.nivo-caption-subtitle{
    font: italic 12px Arial, sans-serif;
    color: #8f8f8f;
}

.nivo-caption p {
    padding:5px;
    margin:0;
}
.nivo-caption a {
    display:inline !important;
}
.nivo-html-caption {
    display:none;
}



/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
    position:absolute;
    top: 50%;
    margin-top: -35px;
    z-index:9;
    cursor:pointer;
    height: 69px;
}
.nivo-prevNav {     
    text-indent: -9999px;
    padding: 0 5px;
    width: 20px;
    left: 0px;
}

.nivo-nextNav {    
    text-indent: -9999px;
    padding: 0 5px;
    width: 20px;
    right: 0px;

    background-image:  url('../img/slider-right.png'); 
    background-repeat: no-repeat;
    background-position: center;
}

.nivo-nextNav:hover,
.home-slider .nivo-nextNav:hover{
    background-image:  url('../img/slider-right.png');
    background-repeat: no-repeat;
    background-position: center;
}

.nivo-prevNav,
.home-slider .nivo-prevNav{
    background-image: url('../img/slider-left.png');
    background-repeat: no-repeat;
    background-position: center;
}

.home-slider .nivo-nextNav{
    background-image:  url('../img/slider-right.png'); 
    background-repeat: no-repeat;
    background-position: center;
    left: 50px;
}

.nivo-prevNav:hover,
.home-slider .nivo-prevNav:hover{
    background-image: url('../img/slider-left.png'); 
    background-repeat: no-repeat;
    background-position: center;
}

/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav {
    text-align:center;
    padding: 15px 0;
}
.nivo-controlNav a {
    cursor:pointer;
}
.nivo-controlNav a.active {
    font-weight:bold;
}

