<!-- #tweet-scroll-wrapper start -->
<article id="tweet-sroll-wrapper" class="clearfix">
    <div class="tweet-icon"></div>
    <div class="tweets-list-container"></div>
</article>

<footer id="footer" class="container_12">

    <ul class="footer-widget-container grid_3">
        <li class="widget widget_text">
            <p>
                Passionné par le web, j'évolue comme Responsable E-Commerce 
                depuis près de 10 ans avec une double compétence technique et webmarketing, 
                une expérience confirmée en gestion de projet et management d'équipe.
            </p>
        </li>
    </ul>

    <ul class="footer-widget-container grid_3">
        <li class="widget widget_recent_entries">
            <div class="title">
                <h5>Liens</h5>
            </div>
            <ul>
                <li>
                    <a href="/prestations">Prestations de services</a>
                </li>

                <li>
                    <a href="/portfolio">Réalisations / projets</a>
                </li>

                <li>
                    <a href="/blog">Blog photo, montagne et digital !</a>
                </li>
                <br />
            </ul>
        <script type="text/javascript" src="https://www.httpcs.com/certified/js/57108/www.damien-sibille.fr"></script>
        </li>
    </ul>
                    
    <ul class="footer-widget-container grid_3">
        <li class="widget social-feed pinterest-feed">
            <div class="title">
                <h5>Galerie photo</h5>
            </div>
        </li>
    </ul>

    <ul class="footer-widget-container grid_3">
        <li class="widget widget_text">
            <div class="title">
                <h5>Contact</h5>
            </div>

            <ul class="quick-contact-info" itemscope itemtype="http://schema.org/Person">
                <li><span itemprop="name">Damien SIBILLE</span><br />
                    <span itemprop="jobTitle">Responsable e-commerce</span>
                    <p itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                        <span itemprop="streetAddress">Montée du Coin</span><br />
                        <span itemprop="postalCode">73480</span> <span itemprop="addressLocality">Lanslevillard</span>
                    </p>
                </li>
                <li itemprop="telephone">+33 (0)6 68 79 47 80</li>
            </ul>
        </li>
    </ul>


</footer>

<section class="copyright-container">

    <div class="copyright container_12">
        <p>Copyright Damien SIBILLE 2015.</p>

        <ul class="social-links">
            <li>
                <a href="https://www.facebook.com/damien.sibille.56" class="pixons-facebook-1"></a>
            </li>
            <li>
                <a href="https://twitter.com/dsibille" class="pixons-twitter-1"></a>
            </li>
            <li>
                <a href="https://plus.google.com/+DamienSIBILLE" class="pixons-google_plus"></a>
            </li>
            <li>
                <a href="https://fr.pinterest.com/damiensibille/" class="pixons-pinterest"></a>
            </li>
            <li>
                <a href="https://fr.linkedin.com/in/damiensibille" class="pixons-linkedin"></a>
            </li>
            <li>
                <a href="https://github.com/dsibille" class="pixons-github-2"></a>
            </li>
        </ul>
    </div>
</section>