<!-- #tweet-scroll-wrapper start -->
<article id="tweet-sroll-wrapper" class="clearfix">
    <div class="tweet-icon"></div>

    <div class="tweets-list-container"></div>
</article>

<!-- #footer start -->
<footer id="footer" class="container_12">

    <!-- .footer-widget-container start -->
    <ul class="footer-widget-container grid_3">
        <li class="widget widget_text">
            <p>
                Passionné par le web, j'évolue comme Responsable E-Commerce 
                depuis près de 10 ans avec une double compétence technique et webmarketing, 
                une expérience confirmée en gestion de projet et management d'équipe.
            </p>
        </li>
    </ul>

    <!-- .footer_widget_container start -->
    <ul class="footer-widget-container grid_3">
        <li class="widget widget_recent_entries">
            <div class="title">
                <h5>Liens</h5>
            </div>
            <ul>
                <li>
                    <a href="/prestations">Prestations de services</a>
                </li>

                <li>
                    <a href="/portfolio">Réalisations / projets</a>
                </li>

                <li>
                    <a href="/blog">Blog photo, montagne et digital !</a>
                </li>
            </ul>

        </li>
    </ul><!-- .footer_widget_container end -->
                    
    <!-- .footer_widget_container start -->
    <ul class="footer-widget-container grid_3">
        <li class="widget social-feed pinterest-feed">
            <div class="title">
                <h5>Galerie photo</h5>
            </div>
        </li>
    </ul>

    <!-- .footer_widget_container start -->
    <ul class="footer-widget-container grid_3">
        <!-- .widget_text start -->
        <li class="widget widget_text">
            <div class="title">
                <h5>Contact</h5>
            </div>

            <ul class="quick-contact-info">
                <li><strong>Damien SIBILLE</strong><br />
                    Le Saint Landry<br />
                    Montée du Coin<br />
                    73480 Lanslevillard
                </li>

                <li><a href="/contact">> Formulaire de contact</li>
            </ul>
        </li>
    </ul>


</footer><!-- #footer end -->

<!-- .copyright-container start -->
<section class="copyright-container">

    <div class="copyright container_12">
        <p>
            Copyright Damien SIBILLE 2015.
        </p>

        <ul class="social-links">
            <li>
                <a href="https://www.facebook.com/damien.sibille.56" class="pixons-facebook-1"></a>
            </li>
            <li>
                <a href="https://twitter.com/dsibille" class="pixons-twitter-1"></a>
            </li>
            <li>
                <a href="https://plus.google.com/105926405251100947020/posts" class="pixons-google_plus"></a>
            </li>
            <li>
                <a href="https://fr.pinterest.com/damiensibille/" class="pixons-pinterest"></a>
            </li>
            <li>
                <a href="https://fr.linkedin.com/in/damiensibille" class="pixons-linkedin"></a>
            </li>
            <li>
                <a href="https://github.com/dsibille" class="pixons-github-2"></a>
            </li>
        </ul>
    </div>
</section><!-- .copyright container end -->